In [0]:
import pandas as pd

In [0]:
url = 'https://raw.githubusercontent.com/rikpratim/Investigate-TMDb-Movie-Dataset/master/tmdb-movies.csv'
df = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [0]:
#First 5 entries

df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [0]:
#Investigate data types - VOID

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [0]:
#Summary statistics 

df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [0]:
#find null values

df.isnull().any()

id                      False
imdb_id                  True
popularity              False
budget                  False
revenue                 False
original_title          False
cast                     True
homepage                 True
director                 True
tagline                  True
keywords                 True
overview                 True
runtime                 False
genres                   True
production_companies     True
release_date            False
vote_count              False
vote_average            False
release_year            False
budget_adj              False
revenue_adj             False
dtype: bool

In [0]:
#filter by 

df[df['original_title']=='Avatar']

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
1386,19995,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,http://www.avatarmovie.com/,James Cameron,Enter the World of Pandora.,...,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/09,8458,7.1,2009,2.408869e+08,2.827124e+09

In [0]:
# drop any missing values

df.dropna()

# fill any misisng values

fillna()

NameError: ignored

In [0]:
# count 

df['id'].count()

10866

In [0]:
# group by 

df.groupby('release_year').sum()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,budget_adj,revenue_adj
release_year,,,,,,,,,
1960,502889,14.685834,22056948,145005000,3541,2481,202.4,1.626252e+08,1.069117e+09
1961,578367,13.107641,46137000,337720188,3702,2405,197.6,3.365630e+08,2.463622e+09
1962,544034,14.553069,54722126,215579846,3979,2392,203.0,3.944616e+08,1.553996e+09
1963,562904,17.092019,73331500,187404989,3785,2816,215.2,5.221334e+08,1.334357e+09
1964,729942,17.321989,39483161,340981782,4587,3137,260.9,2.775772e+08,2.397193e+09
1965,614765,11.990529,70205115,458081854,4136,1820,216.8,4.858590e+08,3.170185e+09
1966,759644,13.989152,57554800,84736689,4917,1460,281.9,3.866540e+08,5.692623e+08
1967,697188,18.846147,100652200,737834637,4198,3102,249.7,6.579397e+08,4.823051e+09
1968,726515,18.883866,71939000,264732980,4184,4217,248.8,4.509830e+08,1.659601e+09
1969,591357,13.106127,42129087,243957076,3304,1733,184.8,2.504264e+08,1.450145e+09
1970,751907,14.009686,126966946,560221969,4594,2011,263.1,7.130931e+08,3.146413e+09
1971,1137584,24.646153,75997000,404910610,5925,5081,353.1,4.092587e+08,2.180523e+09
1972,704684,17.962162,36279254,494730171,4078,5433,261.4,1.891804e+08,2.579801e+09
1973,997893,27.195419,65190783,1223981102,5694,5173,368.7,3.201623e+08,6.011167e+09
1974,910835,21.047978,76970000,812539818,4964,5207,300.6,3.403832e+08,3.593282e+09
1975,760791,22.855561,56279000,957489966,4724,6088,281.2,2.280324e+08,3.879578e+09
1976,744888,22.302266,122150000,801005600,5138,4720,298.0,4.680419e+08,3.069212e+09
1977,1420531,35.704048,161580000,2180583159,6105,8031,350.4,5.813295e+08,7.845261e+09
1978,1411200,26.865433,208997011,1369779659,7155,4898,398.5,6.986145e+08,4.578763e+09
1979,1086718,33.590762,254814000,1684794913,6385,8830,359.6,7.656024e+08,5.062057e+09
1980,1639820,38.660886,362500000,1768662387,8385,10898,480.5,9.591883e+08,4.679946e+09
1981,1560246,36.277875,373757786,1774606236,8681,7480,505.6,8.963425e+08,4.255844e+09
1982,1403773,44.011589,437795002,2458443852,8418,11385,505.6,9.892602e+08,5.555204e+09
1983,1400668,43.315574,519107412,2307529320,8240,9886,477.7,1.136488e+09,5.051902e+09
1984,1611152,62.038521,729211964,2635524418,10864,15371,630.4,1.530647e+09,5.532077e+09
1985,1629950,63.662354,748720637,2875772392,12463,13761,673.3,1.517781e+09,5.829668e+09
1986,1886604,61.655002,704533613,3002778281,12092,13675,726.6,1.401604e+09,5.973746e+09
1987,2048079,63.079564,709455811,3462104847,12646,15064,766.1,1.361503e+09,6.644058e+09
1988,2707730,67.430667,925348000,3739550845,14760,14576,865.0,1.706241e+09,6.895324e+09
1989,2629704,77.221155,1079656360,5164923718,14355,18657,831.6,1.899099e+09,9.085023e+09
1990,1857851,70.716996,1289922066,5315166660,13946,21575,791.2,2.152749e+09,8.870474e+09
1991,1905608,66.644959,1466233000,4706599796,13980,17006,799.9,2.347575e+09,7.535703e+09
1992,1794978,77.527364,1441765370,6078153217,14235,19447,808.8,2.240538e+09,9.445598e+09
1993,2788827,97.375953,1779628653,6955151167,19068,24284,1076.9,2.686296e+09,1.049859e+10
1994,3231011,123.063733,2229207032,7095429177,19672,37591,1093.4,3.279412e+09,1.043817e+10
1995,2920928,124.376366,2865884377,9156341160,18821,35810,1059.8,4.100986e+09,1.310242e+10
1996,3066028,123.372747,3687042051,8311492279,21564,26031,1203.8,5.125788e+09,1.155478e+10
1997,2925074,136.704630,4751086675,10655173234,20449,40985,1149.8,6.454163e+09,1.447463e+10
1998,3092866,131.494588,4499660000,9493174938,22063,40042,1253.8,6.019175e+09,1.269898e+10
1999,4150239,144.658971,5765235106,11355712579,24385,53447,1351.3,7.546997e+09,1.486523e+10
2000,3611297,124.123452,5752700000,10978701012,23558,46206,1335.3,7.284599e+09,1.390224e+10
2001,4144137,170.043163,5641944000,13410083139,26144,63058,1426.9,6.947987e+09,1.651436e+10
2002,3607313,186.586849,5894640255,14643618528,28426,62904,1588.9,7.145845e+09,1.775189e+10
2003,5527642,202.062290,6239857694,15138243542,28291,68425,1666.6,7.396432e+09,1.794416e+10
2004,4468149,221.788592,7170340222,16793822618,32347,79200,1838.5,8.277766e+09,1.938755e+10
2005,5140666,228.833453,7343284349,16516835108,37378,73336,2135.4,8.199242e+09,1.844209e+10
2006,5906687,247.399250,7306185300,16275739385,41487,76083,2424.1,7.902875e+09,1.760497e+10
2007,7005822,259.804380,7635569004,19411668670,43980,90391,2612.4,8.030088e+09,2.041464e+10
2008,9101362,290.069191,7781262597,19431695138,49739,102562,2941.7,7.880759e+09,1.968016e+10
2009,16241077,319.895074,8594084056,22180170559,52261,119689,3121.6,8.735031e+09,2.254393e+10
2010,23087632,316.029586,9385001006,21959998545,48079,130149,2935.5,9.385001e+09,2.196000e+10
2011,37302676,364.537424,9018153652,23695591578,52878,135439,3217.6,8.742180e+09,2.297046e+10
2012,61545950,357.031964,8274084052,24668428824,57607,183539,3410.3,7.858264e+09,2.342870e+10
2013,111910769,413.606395,9236038361,24703633017,63293,214486,3875.3,8.645240e+09,2.312342e+10
2014,170103095,621.087887,7923990138,24331150183,68832,206262,4144.5,7.298716e+09,2.241120e+10
2015,186663306,648.283099,7596547557,26762450518,60620,182422,3702.1,6.988821e+09,2.462144e+10